<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="content">

    <div id="wrap" style="margin-top:50px">
        <form action="/members/login" method="post">
            <div class="input-group mb-3">
                <input type="text" name="username" class="form-control" placeholder="아이디" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <input type="password" name="password" class="form-control" placeholder="비밀번호" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <p th:if="${loginError}" class="error" th:text="${loginError}"></p>
            <br>
            <div>
                <button type="button" id="join" class="btn btn-light" onclick="location.href='/members/join'">회원가입</button>
                <button type="submit" id="login" class="btn btn-light">로그인</button>
            </div>

        </form>
    </div>


</div>

<th:block layout:fragment="css">

    <style>
        .error{
            color: red;
        }
        #wrap{
            max-width: 800px;
            margin: 0 auto;
            margin-top: 25px;
        }
        #join{
            float: right;
            background-color: #e3f2fd;
        }
        #login{
            float: right;
            margin-right: 20px;
            background-color: #e3f2fd;
        }

    </style>

</th:block>
</body>
</html>