<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block layout:fragment="content">

    <div id="wrap">
            <table class="table">
                <thead>

                </thead>
                <tr>
                    <th scope="col">제목</th>
                    <td scope="col" th:text="${boardDto.title}"></td>
                </tr>

                <tr>
                    <th scope="row">작성자</th>
                    <td th:text="${boardDto.createdBy}"></td>
                </tr>
                <tr>
                    <th scope="row">작성일시</th>
                    <td th:text="${boardDto.createdDate}"></td>
                </tr>
                <tr>
                    <th scope="row">수정일시</th>
                    <td colspan="2" th:text="${boardDto.lastModifiedDate}"></td>
                </tr>
                <tr>
                    <th scope="row">조회수</th>
                    <td colspan="2" th:text="${boardDto.hits}"></td>
                </tr>
                <tr>
                    <td scope="row" colspan="2" th:utext="${boardDto.content}" style="text-align: left;"></td>
                </tr>
            </table>
            <br>
            <div th:if="${username == boardDto.createdBy}">
                <a th:href="'/boards/delete/' + ${boardDto.id}"><button type="button" id="delete" class="btn btn-primary">삭제</button></a>
                <a th:href="'/boards/update/' + ${boardDto.id}"><button type="button" id="update" class="btn btn-primary">수정</button></a>
            </div>
    </div>

</th:block>

<th:block layout:fragment="css">
    <style>
        #wrap{
            max-width: 800px;
            margin: 0 auto;
            margin-top: 50px;
        }
        .table{
            text-align: center;
        }
        th{
            width: 200px;
        }
        td{
            width: 600px;
        }
        #update{
            float: right;
            margin-right: 20px;
        }
        #delete{
            float: right;
        }
    </style>
</th:block>
</body>
</html>