<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<th:block layout:fragment="content">

    <div id="wrap">

        <form method="post" th:object="${boardDto}">
            <input type="hidden" th:field="*{id}">
            <div class="input-group mb-3">
                <input th:field="*{title}" type="text" class="form-control" placeholder="제목" aria-label="Username" aria-describedby="basic-addon1" maxlength="100">
            </div>
            <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="error"></p>
            <div class="mb-3">
                <textarea th:field="*{content}" class="form-control" id="exampleFormControlTextarea1" rows="8" spellcheck="false"></textarea>
            </div>
            <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="error"></p>
            <br>

            <div th:if="${#strings.isEmpty(boardDto.id)}">
                <button id="save" th:formaction="@{/boards/write}" type="submit" class="btn btn-primary">저장</button>
            </div>
            <div th:unless="${#strings.isEmpty(boardDto.id)}">
                <button id="update" th:formaction="@{'/boards/update/' + ${boardDto.id}}" type="submit" class="btn btn-primary">수정</button>
            </div>
        </form>

    </div>

</th:block>

<th:block layout:fragment="css">
    <style>
        #wrap{
            max-width: 800px;
            margin: 0 auto;
            margin-top: 50px;
        }
        #save, #update{
            float: right;
        }
        .error{
            color: red;
        }
    </style>
</th:block>

<th:block layout:fragment="script">

    <script th:inline="javascript">
        $(document).ready(function(){
            var errorMessage = [[${errorMessage}]];
            if(errorMessage != null){
                alert(errorMessage);
            }
        });
    </script>

</th:block>
</body>
</html>