<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <input type="text" id="input"><br>
    <button type="button" onclick="dataSend()">전송</button>
</div>
<div id="result">
    <p th:if="${msg}!=null" th:text="${msg}"></p>
</div>
<script>

    function dataSend() {
    var data=$("#input").val();
    var testDto={
        age:data
    };
    $.ajax({
        url: "/dataSend",
        data: testDto,
        type:"POST",
    }).done(function (fragment) {
        $("#result").replaceWith(fragment);
    });
}

</script>
<script
        src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>

</body>
</html>